.expand-height {
  height: 100%;
}

.expand-width {
  width: 100%;
}

.text-center {
  text-align: center;
}

.image-background-content-background {
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #0c0c0c;
}

.expand-100percent {
  width:   100%;
  height:  100%;
}

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

.image-background-content {
  height  : 400px;
  padding : 20px;
}

.image-background-content h2 {
  font-size: 60px;
  color    : white;
  margin   : 40px 0px;
  opacity  : 0.8;
}

.selector .image-background-content h2 {
  font-size: 16px;
  color    : white;
  margin   : 40px 0px;
}

.image-background-content h4 {
  font-size: 24px;
  color    : white;
  opacity  : 0.5;
}

.selector .image-background-content h4 {
  font-size: 12px;
  color    : white;
  opacity  : 0.5;
}

.image-content {
  margin: 25px 0px;
}

.image-content img {
  width: 100%;
  font-size: 24px;
  color    : white;
}

.image-content h2 {
  font-size: 24px;
  margin   : 40px 20px;
}

.image-content p {
  font-size: 16px;
  margin   : 40px 20px;
}


.icon-content h2 {
  font-size: 24px;
}

.icon-content h4 {
  font-size: 18px;
}

.icon-content .fa {
  display: inline-block;
  width: 100%;
}

.editor {
  position: fixed;
  width:      100%;
  height:     100%;
  bottom:     0px;
  left:         0;
  z-index:     10;
  background-color: rgba(255, 0, 0, 0.8);
  overflow:    scroll;
}

.editor-close-bar {
  text-align      : center;
  height          : 36px;
  border-bottom   : double;
  font-size       : 24px;
}

.editor-name {
  text-align      : center;
}

.none {
  display: none;
}

.editor-opaque {
  background-color: red;
}

.btn-primary {
  color: #fff;
  background: #6cb33f;
  text-transform: uppercase;
  font-size: 22px;
}

.addmore-background {
  margin     :  0px;
  padding    :  10px;
  background-color: gold;
}

.addmore-container {
  padding      : 5px;
  border-style : solid;
  border-color : white;
  border-radius: 50px;
  color        : white;
}

.upload-background {
  margin     :  0px;
  padding    :  10px;
  background-color: cornflowerblue;
}

.upload-container {
  padding      : 5px;
  border-style : solid;
  border-color : white;
  border-radius: 50px;
  color        : white;
}

.btn {
  display: inline-block;
  text-align: center;
  line-height: 1.2;
  font-weight: 500;
  white-space: nowrap;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: 5px;
  border-width: 0px;
}

.project-input {
  display: block;
  width: 100%;
  -webkit-appearance: none;
  font-size: 20px;
  padding: 9.41176px 18px;
  line-height: 30px;
  color: #6cb33f;
  background: #f8f8f8;
  border: 2px solid #e5e6e7;
  border-radius: 4px;
  opacity: 0.8;
}

.animated-fastest {
  -webkit-animation-duration: 0.15s;
  animation-duration: 0.15s;
}

.animated-fast {
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.s;
}

.animate-deletion {
  -webkit-animation-duration: 0.15s;
  animation-duration: 0.15s;
}

.selector {
  padding: 5px 0px;
}

.selector > button {
  display      : block;
  margin       : 5px 0px;
  border-style : solid;
  border-radius: 24px;
  border-width : 4px;
  border-color : white;
  line-height  : 60px;
  font-size    : 24px;
  text-align   : center;
  background-color: darkolivegreen;
  color        : white;
}

.selector > button:active {
  background-color: darkcyan;
  color           : yellow;
}